<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="product">
      <div class="product-cate">Cate</div>
      <h1 class="product-name">Product Name</h1>
      <div class="product-price">Product Price</div>
      <div class="product-desc">Description</div>
      <img src="img.igp" alt="img-product">
    </div>
    <div class="form-control">
      <form action="" method="POST">
        <div class="form-control-group">
          <input type="text" name="name" placeholder=" " class="form-control-group-input" autocomplete="off" />
          <label  class="form-control-group-label">Your name*</label>
        </div>
        <div class="form-control-group">
          <input type="text" name="name" placeholder=" " class="form-control-group-input" autocomplete="off" />
          <label class="form-control-group-label">Your phone*</label>
        </div>
        <div class="form-control-group">
          <input type="text" name="name" placeholder=" " class="form-control-group-input" autocomplete="off" />
          <label class="form-control-group-label">Your email*</label>
        </div>
        <div class="form-control-ob">
          <label class="form-control-ob-label">Choose classes</label>
          <select class="form-control-ob-select" name="name">
            <option value="1">Basic Class For Kid</option>
            <option value="2">Basic Class For Kid</option>
            <option value="3">Basic Class For Kid</option>
          </select>
        </div>
        <div class="form-control-upload">
          <label class="form-control-upload-label">Upload file</label>
          <input type="file" class="form-control-upload-img" id="img" name="img" accept="image/*">
        </div>
        <button type="submit" class=" btn form-control-btn">SUBMIT</button>
      </form>
      <div class="shipping">100% - Giao hàng miễn phí</div>
    </div>
  </div>
</body>
</html>